html,
body {
  color: #fff;

  font-family: "Roboto", sans-serif;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.button {
  padding: 0.5rem;
  background-color: #544d5e;
  border: none;
  color: #fff;
  border-radius: 0.25rem;
  align-items: center;
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 1em;
  text-decoration: none;
}

.button:hover {
  background-color: #675d75;
}

.button:disabled,
.button:disabled:hover {
  background-color: #222;
  border: 1px solid #333;
  cursor: not-allowed;
  color: #777;
}

*::-webkit-scrollbar {
  width: 0.65rem;
  height: 0.65rem;
  background-color: #444;
}

/* Add a thumb */
*::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 0.1rem;
  cursor: grab;
}
